/*
OAMK Web-arkkitehtuurit k. 2015
Esa Juntura
*/
/* 
    Created on : 20.3.2015, 10:27:43
    Author     : n4jues00
*/

#add_task {
    display: none;
}

#task_id {
    display: none;
}

#cancel_task {
    display: none;
}
#add_member {
    display: none;
}
#add_project {
    display: none;
}

#act_message {
    width: 50%;
    height:6em;
    background-color:#f0f0f0;
    margin-bottom: 1em;
}
th, td {
    padding: 0.25em;
}

th {
    background-color: #c0c0c0;
}

tr:nth-child(even) {background-color: #f0f0f0;}
tr:nth-child(odd) {background-color: #fff;}

label {
    width:8em;
}

textarea {
    width:50%;
    height: 6em;
}

.toggler { 
    width: 32em; height: 32em; 
}
  #button { 
      padding: .5em 1em; text-decoration: none; 
  }
  #effect { 
      width: 240px; height: 135px; padding: 0.4em; position: relative; 
  }
  
  #effect h3 { 
      margin: 0; padding: 0.4em; text-align: center;
      font-size: medium;
  }

